.plofile-wrapper 
  .plofile-members
    MEMBERS
  .plofile-list
    .plofiles
      .inoue-plofile-image
        = image_tag "b12df0cccd027f2ee3d6acb923a02d4d.jpg"
        .inoue-hover
          .plofile-name
            Shouki Inoue
          .plofile-links
            = link_to "https://www.instagram.com/kesuke_hondagg/?hl=ja" do
              %i.fab.fa-instagram.instagram-icon
            = link_to "#" do
              %i.fab.fa-twitter.twitter-icon
    .plofiles
      .kijima-plofile-image
        = image_tag "d89449503b717cdc51dc6d2aa0d70846.png"
        .kijima-hover
          .plofile-name
            Takuya Kijima
          .plofile-links
            = link_to "https://www.instagram.com/takuya__0315photo/?hl=ja" do
              %i.fab.fa-instagram.instagram-icon
            = link_to "https://twitter.com/Takuya130315" do
              %i.fab.fa-twitter.twitter-icon
    .plofiles
      .sakai-plofile-image
        = image_tag "0adbb981bb6a7d95067a252493436558.jpg"
        .sakai-hover
          .plofile-name
            Shun Sakai
          .plofile-links
            = link_to "https://www.instagram.com/takuya__0315photo/?hl=ja" do
              %i.fab.fa-instagram.instagram-icon
            = link_to "https://twitter.com/Takuya130315" do
              %i.fab.fa-twitter.twitter-icon
    .plofiles
      .furuya-plofile-image
        = image_tag "b5ef0f73611b043f80b3fba50e9fd5ef.jpg"
        .furuya-hover
          .plofile-name
            Kaname Furuya
          .plofile-links
            = link_to "https://www.instagram.com/takuya__0315photo/?hl=ja" do
              %i.fab.fa-instagram.instagram-icon
            = link_to "https://twitter.com/Takuya130315" do
              %i.fab.fa-twitter.twitter-icon
    .plofiles
      .muramoto-plofile-image
        = image_tag "6de742c090e097abb8760c642eae853d.jpg"
        .sakai-hover
          .plofile-name
            Shun Sakai
          .plofile-links
            = link_to "https://www.instagram.com/takuya__0315photo/?hl=ja" do
              %i.fab.fa-instagram.instagram-icon
            = link_to "https://twitter.com/Takuya130315" do
              %i.fab.fa-twitter.twitter-icon
