.plofile-wrapper 
  .plofile-members
    MEMBERS
  .plofile-list
    .plofiles
      .inoue-plofile-image
        = image_tag "b12df0cccd027f2ee3d6acb923a02d4d.jpg"
        .inoue-hover
          .plofile-name
            Shouki Inoue
          .plofile-links
            = link_to "https://www.instagram.com/kesuke_hondagg/?hl=ja" do
              %i.fab.fa-instagram.instagram-icon
            
    .plofiles
      .kijima-plofile-image
        = image_tag "d89449503b717cdc51dc6d2aa0d70846.png"
        .kijima-hover
          .plofile-name
            Takuya Kijima
          .plofile-links
            = link_to "https://www.instagram.com/kesuke_hondagg/?hl=ja" do
              %i.fab.fa-instagram.instagram-icon
            = link_to "https://twitter.com/Takuya130315" do
              %i.fab.fa-twitter.twitter-icon
